.features__video {
  position: relative;
  background: center no-repeat url(/img/backgound/video-bg.jpg);
  width: 385.8px;
  height: 215.77px;
  margin: 0 auto;
}

.info-item img {
  width: 45.75px;
  height: 45.75px;
}
