<section class="features">
  <h2>Features</h2>
  <p>Most calendars are designed for teams.</p>
  <div class="features__video">
    <a href="#" class="buttom-play"><img src="" alt="Vector logo Arrow " /></a>
  </div>
  <div class="features__info-items">
    <div class="info-item">
      <img
        src="/img/logo/logo-circle-square.svg"
        alt="Logo Crircle with Square"
      />
      <h3>OpenType features Variable fonts</h3>
      <p>
        Slate helps you see how many more days you need to work to reach your
        financial goal.
      </p>
    </div>
    <div class="info-item">
      <img src="/img/logo/logo-pen.svg" alt="Logo Pen" />
      <h3>Design with real data</h3>
      <p>
        Slate helps you see how many more days you need to work to reach your
        financial goal.
      </p>
    </div>
    <div class="info-item">
      <img src="/img/logo/logo-brush.svg" alt="Logo Brush" />
      <h3>Fastest way to take action</h3>
      <p>
        Slate helps you see how many more days you need to work to reach your
        financial goal.
      </p>
    </div>
  </div>
</section>
