<header class="header">
  <section class="baner_bg">
    <div class="container-section">
      <div class="navigation">
        <div class="navigation__logo">
          <a href="#"
            ><img src="/img/logo/logo-figma-lande.svg" alt="Logo Figma Lande"
          /></a>
          <div class="navigation__burger">
            <span class="navbar-toggler-icon"></span>
          </div>
        </div>
        <div class="navigation__wrapper">
          <div class="navigation__pages">
            <a href="#">Home</a><a href="#">Product</a><a href="#">Pricing</a
            ><a href="#">About</a><a href="#">Contact</a>
          </div>
          <div class="navigation__sociale">
            <a href="#" target="blank"><img src="#" alt="Logo Twitter" /></a
            ><a href="#" target="blank"><img src="#" alt="Logo Facebook" /></a
            ><a href="#" target="blank"><img src="#" alt="Logo LinkeDin" /></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="header__title">
    <h1>The best products start with Figma</h1>
    <p>Most calendars are designed for teams.</p>
    <a href="#" class="button-link">Try For</a>
  </section>
</header>
